Airtable to mail.json
{
  "name": "Airtable to mail",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "https://airtable.com/appx6X1h8Ysa2QXiv/tblTbzteQng41B7tC/viwgOr7gErjfwmAyj?blocks=hide",
          "mode": "url"
        },
        "tableId": {
          "__rl": true,
          "value": "https://airtable.com/appx6X1h8Ysa2QXiv/tblTbzteQng41B7tC/viwgOr7gErjfwmAyj?blocks=hide",
          "mode": "url"
        },
        "triggerField": "order number",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b4dd0de4-5c69-4f1a-809d-32885abe21d6",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "kepton3UutU03l6R",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "responses": {
          "values": [
            {
              "content": "=You are responsible for customer orders. Your task is to collect incoming information about new orders and create a clear summary that will be sent via email to the team. The email should be signed with \"Customer Success Team\".\n\nHere are the details of the customer orders:\n\nOrder Number:{{ $json.fields['order number'] }}\nCustomer:{{ $json.fields.costumer }}\nProduct:{{ $json.fields.product }}\nQuantity:{{ $json.fields.quantity }}\nPrice:{{ $json.fields.price }}\nDate:{{ $json.fields.date }}\nStatus:{{ $json.fields.status }}\n\nPlease provide the following output parameters:\n\nemail_subject\nemail_body\n\nmake a clean body with new lines if needed"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "6eef5af0-3b9e-4c5a-a82b-3104a08aa590",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "Bjm6VVoNUs4IN9Oa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "fran.melgar08@gmail.com",
        "subject": "={{ $json.output[0].content[0].text.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text.email_body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        0
      ],
      "id": "bf74e352-dc5a-4642-89b0-22f5e252f6ca",
      "name": "Send a message",
      "webhookId": "f4a2c495-b9b6-4777-a1d7-3b9d49d00173",
      "credentials": {
        "gmailOAuth2": {
          "id": "dqfBs7BsvsnwcAo9",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "d0cd40fa-35e2-423c-b41f-4d9f12f3c2eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b434715cb9a1c75a861a81c1fea50b68fc23266cffb9a73125fbbf360432529"
  },
  "id": "0DR3j5ELWSRYdlOxST0LQ",
  "tags": []
}